name: Generate Full Year Calendar

on:
  schedule:
    - cron: "0 3 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  calendar:
    runs-on: ubuntu-latest
    steps:
      - name: Generate full-year calendar
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: rebeccax06

          filename: generated/metrics.plugin.isocalendar.fullyear.svg

          # plugin for full-year calendar heatmap
          base: ""
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
