name: Generate GitHub Stats

on:
  schedule:
    - cron: "0 3 * * *"   # runs daily
  workflow_dispatch:

permissions:
  contents: write

jobs:
  stats:
    runs-on: ubuntu-latest
    steps:
      - name: Generate overview.svg
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: rebeccax06

          template: classic
          filename: generated/overview.svg
          config_timezone: America/New_York

          # Activity-only stats
          base: activity
          plugin_followup: yes      # Pull requests merged
          plugin_followup_sections: pull_requests 
          plugin_lines: yes         # Lines of code changed

          # Appearance
          config_display: large
          config_theme: omni
